@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="list-inline ml-auto mb-0">
    <li class="list-inline-item">
        @Html.ActionLink("Hello " + User.Identity.GetUserName() +"", null, null, new { @class = "nav-link", @Href = "#" })
       
    </li>
    @*<li class="list-inline-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log off</a></li>*@
<li class="list-inline-item">@Html.ActionLink("Log Off", "Index", "Home", new { area = "" }, new { @class = "navbar-brand white" })</li>

</ul>
    }
}
else
{
    <ul class="list-inline  mb-0">
        <li class="list-inline-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",  @class="nav-link" } )</li>
        <li class="list-inline-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",  @class="nav-link" } )</li>
        <li class="list-inline-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink",  @class="nav-link" })</li>
    </ul>
}
