@model FP.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div class="login-box login-md-box text-left">
    <a href="#" class="logo">@*<h2>@ViewBag.Title.</h2>*@ Fame Perks</a>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal full-width", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h5 class="mt-5">Account Information:</h5>

      

        <div class=" row">

            <div class="form-group col-md-6">
                @Html.TextBoxFor(m => m.BrandName, new { @class = "form-control", placeholder = "Brand Name" })
                @Html.ValidationMessageFor(m => m.BrandName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.TextBoxFor(m => m.Website, new { @class = "form-control", placeholder = "Website" })
                @Html.ValidationMessageFor(m => m.Website, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class=" row">

            <div class="form-group col-md-6">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>

        </div>



        <h5 class="mt-5">Address:</h5>


        <div class="row">

            <div class="form-group col-md-6">
                @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control", placeholder = "Address Line 1" })
                @Html.ValidationMessageFor(m => m.AddressLine1, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control", placeholder = "Address Line 2" })
                @Html.ValidationMessageFor(m => m.AddressLine2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City" })
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.TextBoxFor(m => m.State, new { @class = "form-control", placeholder = "State" })
                @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">

            <div class="form-group col-md-6">
                @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", placeholder = "Zip" })
                @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @*@Html.DropDownListFor(m => m.Country, ViewData["Countries"] as SelectList, new
                    {
                        @class = "form-control",
                         placeholder = "Country"
                    })*@

            </div>
        </div>


        <h5 class="mt-5">Contact</h5>
        
        <div class="form-group row">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-6">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <p class="reg-TC-text text-center mt-3"> By signing up you confirm that you accept the <a>Terms & Conditions</a>.</p>
        <ul class="btn-list text-center">
            <li><input type="submit" class="btn btn-red" value="Sign Up" /></li>

            <li class="">Already have an account?</li>
            @*<li><input type="submit" class="btn " value="Sign in" /></li>*@
            <li class="btn">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
        </ul>


    }

</div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
